
<div class="container">

{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="col-8">
        {% for row in form.parent %}
            {{ form_row(row) }}
        {% endfor %}
    </div>
    <button class="btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    </div>
