{% extends 'dashboardbase.html.twig' %}
{% block title %}Eleve index{% endblock %}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <script src="{{ asset('build/js/bs.js') }}" ></script>

    {% endblock %}



{% block body %}
    <div class="container bg-gradient-info">
    <ul class="tabs">
        <li data-tab-target="#Toutes" class="active tab " >Toutes</li>
        <li data-tab-target="#Maternelle" class="tab">Maternelle</li>
        <li data-tab-target="#TPS" class="tab">TPS</li>
        <li data-tab-target="#PS" class="tab">PS</li>
        <li data-tab-target="#SG" class="tab">SG</li>
        <li data-tab-target="#HIFZ1" class="tab"> HIFZ1</li>
        <li data-tab-target="#HIFZ2" class="tab"> HIFZ2</li>
        <li data-tab-target="#HIFZ3" class="tab"> HIFZ3</li>
        <li data-tab-target="#HIFZ4" class="tab"> HIFZ4</li>
        <li data-tab-target="#HIFZ5" class="tab"> HIFZ5</li>
        <li data-tab-target="#HIFZ6" class="tab"> HIFZ6</li>
    </ul>
    </div>
    <div class="tab-content">
        <div id="Toutes" data-tab-content class="active" >
            <div class="card shadow " >
                <div class="card-body ">
                    <span> <h2 class="text-secondary mt-2 mb-3"> <i class="fas fa-list mr-3" ></i> Toutes les classes </h2></span>
                    <div class="table-responsive text-black">

                        <table class="table table-hover" width="100%" cellspacing="" >
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Matricule</th>
                                <th>Prenoms</th>
                                <th>Nom</th>
                                <th>PaysDeNaissance</th>
                                <th>LieuDeNaissance</th>
                                <th>DateDeNaissance</th>
                                <th>Sexe</th>
                                <th>AdresseDeResidence</th>
                                <th>TelephoneDomicile</th>
                                <th>TelephoneEleve</th>
                                <th>AnneeDarrivee</th>
                                <th>PetitFrereOuSoeur</th>
                                <th>FrereOuSoeur</th>
                                <th>PreferenceManuel</th>
                                <th>TolerenceParacetamol</th>
                                <th>MaladieSignale</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for eleve in eleves %}
                                <tr >
                                    <td>{{ eleve.id }}</td>
                                    <td>{{ eleve.Matricule }}</td>
                                    <td>{{ eleve.Prenoms }}</td>
                                    <td>{{ eleve.Nom }}</td>
                                    <td>{{ eleve.PaysDeNaissance }}</td>
                                    <td>{{ eleve.LieuDeNaissance }}</td>
                                    <td>{{ eleve.DateDeNaissance ? eleve.DateDeNaissance|date('d-m-Y') : '' }}</td>
                                    <td>{{ eleve.Sexe }}</td>
                                    <td>{{ eleve.AdresseDeResidence }}</td>
                                    <td>{{ eleve.TelephoneDomicile }}</td>
                                    <td>{{ eleve.TelephoneEleve }}</td>
                                    <td>{{ eleve.AnneeDarrivee ? eleve.AnneeDarrivee|date('d-m-Y') : '' }}</td>
                                    <td>{{ eleve.PetitFrereOuSoeur }}</td>
                                    <td>{{ eleve.FrereOuSoeur }}</td>
                                    <td>{{ eleve.PreferenceManuel }}</td>
                                    <td>{{ eleve.TolerenceParacetamol }}</td>
                                    <td>{{ eleve.MaladieSignale }}</td>
                                    <td class="d-flex d-inline-flex">
                                        <a class="btn-sm btn-success d-inline-flex mr-1" href="{{ path('eleve_show', {'id': eleve.id}) }}">Voir</a>
                                        <a class="btn-sm btn-warning d-inline-flex "href="{{ path('eleve_edit', {'id': eleve.id}) }}">Modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="20"> Aucun profil enregistré</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div id="Maternelle" data-tab-content>
            <h1> Maternelle </h1>
            <p> toutes les classes </p>
        </div>
        <div id="TPS" data-tab-content>
            <h1> Toute Petite Section </h1>
            <p> toutes les classes </p>
        </div>
        <div id="PS" data-tab-content>
            <h1> Petite Section </h1>
            <p> toutes les classes </p>
        </div>
        <div id="GS" data-tab-content>
            <h1> Grande Section </h1>
            <p> toutes les classes </p>
        </div>
        <div id="HIFZ1" data-tab-content>
            <h1> HIFZ1 </h1>
            <p> toutes les classes </p>
        </div>
        <div id="HIFZ2" data-tab-content>
            <h1> HIFZ2 </h1>
            <p> toutes les classes </p>
        </div>
        <div id="HIFZ3" data-tab-content>
            <h1> HIFZ3 </h1>
            <p> toutes les classes </p>
        </div>
        <div id="HIFZ4" data-tab-content>
            <h1> HIFZ4 </h1>
            <p> toutes les classes </p>
        </div>
        <div id="HIFZ5" data-tab-content>
            <h1> HIFZ5 </h1>
            <p> toutes les classes </p>
        </div>
        <div id="HIFZ6" data-tab-content>
            <h1> HIFZ6 </h1>
            <p> toutes les classes </p>
        </div>
    </div>


       {# <button class="navb ar-toggler"  style="background-color: slategrey"
                type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>

            </ul>
        </div>#}



{% endblock %}
