{% extends 'dashboardbase.html.twig' %}
{% block title %}Base des Parents {% endblock %}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="\css/sb-admin-2.min.css" rel="stylesheet">
    {% endblock %}

{% block body %}
<div class="container row" >

<div class="card shadow mr-3 ml-3 col-8">
    <div class="card-body">
        <span> <h2 class="text-secondary text-info mb-4 mt-3"> Profil de {{ eleve.prenoms }} {{ eleve.nom  }}  </h2> </span>
    <table class="table table-hover">
        <tbody>
            <tr class="tr">
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ eleve.Matricule }}</td>
            </tr>
            <tr>
                <th>Prenoms</th>
                <td>{{ eleve.Prenoms }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.Nom }}</td>
            </tr>
            <tr>
                <th>PaysDeNaissance</th>
                <td>{{ eleve.PaysDeNaissance }}</td>
            </tr>
            <tr>
                <th>LieuDeNaissance</th>
                <td>{{ eleve.LieuDeNaissance }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ eleve.DateDeNaissance ? eleve.DateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ eleve.Sexe }}</td>
            </tr>
            <tr>
                <th>AdresseDeResidence</th>
                <td>{{ eleve.AdresseDeResidence }}</td>
            </tr>
            <tr>
                <th>TelephoneDomicile</th>
                <td>{{ eleve.TelephoneDomicile }}</td>
            </tr>
            <tr>
                <th>TelephoneEleve</th>
                <td>{{ eleve.TelephoneEleve }}</td>
            </tr>
            <tr>
                <th>AnneeDarrivee</th>
                <td>{{ eleve.AnneeDarrivee ? eleve.AnneeDarrivee|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PetitFrereOuSoeur</th>
                <td>{{ eleve.PetitFrereOuSoeur }}</td>
            </tr>
            <tr>
                <th>FrereOuSoeur</th>
                <td>{{ eleve.FrereOuSoeur }}</td>
            </tr>
            <tr>
                <th>PreferenceManuel</th>
                <td>{{ eleve.PreferenceManuel }}</td>
            </tr>
            <tr>
                <th>TolerenceParacetamol</th>
                <td>{{ eleve.TolerenceParacetamol }}</td>
            </tr>
            <tr>
                <th>MaladieSignale</th>
                <td>{{ eleve.MaladieSignale }}</td>
            </tr>
            <tr>
                <th>Prénoms du parent</th>
                <td>{{ parent.prenomParent }}</td>
            </tr>
            <tr>
                <th>nom du parent</th>
                <td>{{ parent.nomParent }}</td>
            </tr>

            <tr>
                <th> Secteur D'activité</th>
                <td>{{ parent.SecteurDactivite }}</td>
            </tr>
            <tr>
                <th>Telephone Portable 1 du parent</th>
                <td>{{ parent.TelephonePortable1 }}</td>
            </tr>
            <tr>
                <th>Telephone Portable 2 du parent</th>
                <td>{{ parent.TelephonePortable2 }}</td>
            </tr>
            <tr>
                <th>Telephone Bureau </th>
                <td>{{ parent.TelephoneBureau }}</td>
            </tr>
            <tr>
                <th>Telephone Fixe Maison  </th>
                <td>{{ parent.TelephoneFixeMaison }}</td>
            </tr>

            <tr>
                <th>nom du parent</th>
                <td>{{ parent.nomParent }}</td>
            </tr>
        
        </tbody>
    </table>


    <div class="container">
    <a class="btn btn-primary btn" href="{{ path('eleve_index') }}">back to list</a>

    <a class="btn btn-primary btn" href="{{ path('eleve_edit', {'id': eleve.id}) }}">edit</a>

    {{ include('eleve/_delete_form.html.twig') }}
    </div>

    </div>

</div>
    <div class="card shadow align-items-center bg-gray-400 col-lg-3"  >
        <img class="img-fluid bg-gradient-light mt-4 mb-4" src="https://static.thenounproject.com/png/2861597-200.png">
        <h3 class="text-white"> profil Scolaire </h3>
        <span> Eleve : {{ eleve.prenoms }} {{ eleve.nom }} </span>

        <span> Classe : {{ classe.classe }} </span>
        <table> </br> <tr class="m-2"> Option :</tr>
        {% for eleve in eleve.options %}
            <td class="table table-primary">
                <li > {{ eleve.options }} </li> </td>
        </table>
        {% endfor %}


    </div>
</div>

{% endblock %}
