{% extends 'dashboardbase.html.twig' %}
{% block title %}Eleve index{% endblock %}
    {% block stylesheets %}
        <link href="\vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="\css/sb-admin-2.min.css" rel="stylesheet">

    {% endblock %}



{% block body %}
    <span class="card shadow m-4" >
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary" style="color: white">
        <a class="navbar-brand ml-2  text-white" href="{{ path('u_index') }}"> Admin Board > </a>
        <button class="navbar-toggler"  style="background-color: slategrey"
                type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-gray-400" href="{{ path('app_register') }}"> ajouter un utilisateur <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    </span>


<div class="card shadow m-4 "">
    <div class="card-body ">
    <span> <h2 class="text-secondary mb-3"> Liste des Utilisateurs</h2></span>
        <div class="table-responsive " style="font-size: 12px">

    <table class="table table-bordered  cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénoms</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateur %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.Nom }}</td>
                <td>{{ utilisateur.Prenom }}</td>
                <td>{{ utilisateur.Email }}</td>
                <td>
                    <a href=" {{ path('u_show', {'id': utilisateur.id}) }}">show</a> |
                    <a href="{{ path('u_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
            <a class="btn btn-primary btn" href="{{ path('app_register') }}">Create new</a>

        </div>
    </div>
</div>

{% endblock %}
