{% extends 'dashboardbase.html.twig' %}

{% block title %} Wk- RahmahTool Facturation dashboard {% endblock %}


{% block body %}

    <div class="container-fluid">
        <h2> Main Dashboard</h2>

        <div class="row">
            <div class="col">
                <div class="card bg-gradient-info text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col4">
                                <i class="icon-circle"></i>
                            </div>
                            <div class="col-8">
                                <h5 class="card-title"> {{ stats.eleve}} eleves inscris</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-gradient-dark text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col4">
                                <i class="icon-circle"></i>
                            </div>
                            <div class="col-8">
                                <h5 class="card-title"> {{ stats.classe }} Classes disponibles</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-gradient-info text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col4">
                                <i class="icon-circle"></i>
                            </div>
                            <div class="col-8">
                                <h5 class="card-title"> {{ stats.parents }} Parents Enregistrés </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-gradient-dark text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col4">
                                <i class="icon-circle"></i>
                            </div>
                            <div class="col-8">
                                <h5 class="card-title"> {{stats.employe}} Personnes Employés  </h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row container-fluid ">
    <div class="col-6">
        <div class=" bg-gradient-success shadow">
            <h3 class="text-white text-center p-2"> Dernieres Incriptions </h3>
            <div>
                <table class="table table-hover bg-light">
                    <thead>
                    <tr>
                        <th class=""> Classe </th>
                        <th> Prenom </th>
                        <th> Nom </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eleve in insrecent %}
                        <tr>
                            <td> {{ eleve.classe.classe }} </td>
                            <td> {{ eleve.prenoms }} </td>
                            <td> {{ eleve.nom }}  </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div> <br>
        </div>
    </div>
 {#   <div class="col-6">
        <div class=" bg-gradient-success shadow">
            <h3 class="text-white text-center p-2"> Dernieres Incriptions </h3>
            <div>
                <table class="table table-hover bg-light">
                    <thead>
                    <tr>
                        <th class=""> Classe </th>
                        <th> Prenom </th>
                        <th> Nom </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eleve in insrecent %}
                        <tr>
                            <td> {{ eleve.classe.classe }} </td>
                            <td> {{ eleve.prenoms }} </td>
                            <td> {{ eleve.nom }}  </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div> <br>
        </div>
    </div>#}
</div>

{% endblock %}
