{% extends 'base.html.twig' %}

{% block title %}AnneeAcademique index{% endblock %}

{% block body %}
    <h1>AnneeAcademique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AnneeAcademique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annee_academique in annee_academiques %}
            <tr>
                <td>{{ annee_academique.id }}</td>
                <td>{{ annee_academique.AnneeAcademique }}</td>
                <td>
                    <a href="{{ path('annee_academique_show', {'id': annee_academique.id}) }}">show</a>
                    <a href="{{ path('annee_academique_edit', {'id': annee_academique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annee_academique_new') }}">Create new</a>
{% endblock %}
